{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "金融クラウドサービス　分析WebAPI",
    "description": "分析WebAPIのAPIリファレンス"
  },
  "host": "financialcloudserviceapim.azure-api.net",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/AnalysisRestApi/brains1analysis/{Version}": {
      "post": {
        "tags": [
          "Brains1Analysis"
        ],
        "summary": "BRAINSⅠ分析の結果を取得する。",
        "description": "BRAINSⅠ分析の結果を取得する。",
        "operationId": "AnalysisRestApiBrains1analysisByVersionPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "description": "このAPIのバージョン情報",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "_InputInformation",
            "in": "body",
            "description": "分析対象の情報",
            "required": false,
            "schema": {
              "$ref": "#/definitions/JsonBrains1Input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonBrains1Output"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          }
        }
      }
    },
    "/AnalysisRestApi/brains2analysis/{Version}": {
      "post": {
        "tags": [
          "Brains2Analysis"
        ],
        "summary": "BRAINSⅡ分析の結果を取得する。",
        "description": "BRAINSⅡ分析の結果を取得する。",
        "operationId": "AnalysisRestApiBrains2analysisByVersionPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "description": "このAPIのバージョン情報",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "_InputInformation",
            "in": "body",
            "description": "分析対象の情報",
            "required": false,
            "schema": {
              "$ref": "#/definitions/JsonBrains2Input"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonBrains2Output"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          }
        }
      }
    },
    "/AnalysisRestApi/cfanalysis/{Version}": {
      "post": {
        "tags": [
          "CFAnalysis"
        ],
        "summary": "キャッシュフロー分析の結果を取得する。",
        "description": "キャッシュフロー分析の結果を取得する。",
        "operationId": "AnalysisRestApiCfanalysisByVersionPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "description": "このAPIのバージョン情報",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "_InputInformation",
            "in": "body",
            "description": "分析対象の情報",
            "required": false,
            "schema": {
              "$ref": "#/definitions/JsonCFAnalysisInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonCFAnalysisOutput"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          }
        }
      }
    },
    "/AnalysisRestApi/movementoffundsanalysis/{Version}": {
      "post": {
        "tags": [
          "MovementOfFundsAnalysis"
        ],
        "summary": "資金移動分析の結果を取得する。",
        "description": "資金移動分析の結果を取得する。",
        "operationId": "AnalysisRestApiMovementoffundsanalysisByVersionPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "description": "このAPIのバージョン情報",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "_InputInformation",
            "in": "body",
            "description": "分析対象の情報",
            "required": false,
            "schema": {
              "$ref": "#/definitions/JsonMovementOfFundsAnalysisInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonMovementOfFundsAnalysisOutput"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          }
        }
      }
    },
    "/AnalysisRestApi/windowdressing/{Version}": {
      "post": {
        "tags": [
          "WindowDressing"
        ],
        "summary": "粉飾チェックの結果を取得する。",
        "description": "粉飾チェックの結果を取得する。",
        "operationId": "AnalysisRestApiWindowdressingByVersionPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Version",
            "in": "path",
            "description": "このAPIのバージョン情報",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "_InputInformation",
            "in": "body",
            "description": "分析対象の情報",
            "required": false,
            "schema": {
              "$ref": "#/definitions/JsonWindowDressingInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonWindowDressingOutput"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/JsonApiResult"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "JsonBrains1Input": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonBrains1InputInformation"
          }
        }
      }
    },
    "JsonBrains1InputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisInputBasicInformation"
        },
        "財務情報": {
          "$ref": "#/definitions/JsonBrains1InputValueInformation"
        }
      }
    },
    "JsonAnalysisInputBasicInformation": {
      "type": "object",
      "properties": {
        "決算期": {
          "type": "string"
        },
        "金額単位": {
          "type": "string"
        },
        "決算月数": {
          "type": "string"
        }
      }
    },
    "JsonBrains1InputValueInformation": {
      "required": [
        "受取手形",
        "売掛金",
        "その他当座資産",
        "棚卸資産計",
        "前渡金",
        "前払費用",
        "未収入金",
        "未収収益",
        "仮払金",
        "その他流動資産",
        "△貸倒引当金（流動資産）",
        "前払年金費用",
        "△貸倒引当金（固定資産）",
        "固定資産計",
        "資産合計",
        "支払手形",
        "買掛金",
        "未払金",
        "未払費用",
        "前受金",
        "未成工事受入金",
        "前受収益",
        "仮受金",
        "短期負債性引当金",
        "その他流動負債",
        "退職給付引当金",
        "その他長期負債性引当金",
        "売上高",
        "売上原価",
        "販売費・一般管理費",
        "受取利息・配当金",
        "その他営業外収益",
        "支払利息・割引料",
        "その他営業外費用",
        "割引手形",
        "裏書譲渡手形",
        "減価償却実施額",
        "無形固定資産償却額",
        "投資その他の資産償却額",
        "繰延資産償却額"
      ],
      "type": "object",
      "properties": {
        "受取手形": {
          "format": "double",
          "type": "number"
        },
        "売掛金": {
          "format": "double",
          "type": "number"
        },
        "その他当座資産": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産計": {
          "format": "double",
          "type": "number"
        },
        "前渡金": {
          "format": "double",
          "type": "number"
        },
        "前払費用": {
          "format": "double",
          "type": "number"
        },
        "未収入金": {
          "format": "double",
          "type": "number"
        },
        "未収収益": {
          "format": "double",
          "type": "number"
        },
        "仮払金": {
          "format": "double",
          "type": "number"
        },
        "その他流動資産": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（流動資産）": {
          "format": "double",
          "type": "number"
        },
        "前払年金費用": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（固定資産）": {
          "format": "double",
          "type": "number"
        },
        "固定資産計": {
          "format": "double",
          "type": "number"
        },
        "資産合計": {
          "format": "double",
          "type": "number"
        },
        "支払手形": {
          "format": "double",
          "type": "number"
        },
        "買掛金": {
          "format": "double",
          "type": "number"
        },
        "未払金": {
          "format": "double",
          "type": "number"
        },
        "未払費用": {
          "format": "double",
          "type": "number"
        },
        "前受金": {
          "format": "double",
          "type": "number"
        },
        "未成工事受入金": {
          "format": "double",
          "type": "number"
        },
        "前受収益": {
          "format": "double",
          "type": "number"
        },
        "仮受金": {
          "format": "double",
          "type": "number"
        },
        "短期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "その他流動負債": {
          "format": "double",
          "type": "number"
        },
        "退職給付引当金": {
          "format": "double",
          "type": "number"
        },
        "その他長期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "売上高": {
          "format": "double",
          "type": "number"
        },
        "売上原価": {
          "format": "double",
          "type": "number"
        },
        "販売費・一般管理費": {
          "format": "double",
          "type": "number"
        },
        "受取利息・配当金": {
          "format": "double",
          "type": "number"
        },
        "その他営業外収益": {
          "format": "double",
          "type": "number"
        },
        "支払利息・割引料": {
          "format": "double",
          "type": "number"
        },
        "その他営業外費用": {
          "format": "double",
          "type": "number"
        },
        "割引手形": {
          "format": "double",
          "type": "number"
        },
        "裏書譲渡手形": {
          "format": "double",
          "type": "number"
        },
        "減価償却実施額": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産償却額": {
          "format": "double",
          "type": "number"
        },
        "投資その他の資産償却額": {
          "format": "double",
          "type": "number"
        },
        "繰延資産償却額": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "JsonBrains1Output": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonBrains1OutputInformation"
          }
        }
      }
    },
    "JsonBrains1OutputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisOutputBasicInformation"
        },
        "分析情報": {
          "$ref": "#/definitions/JsonBrains1OutputValueInformation"
        }
      }
    },
    "JsonAnalysisOutputBasicInformation": {
      "type": "object",
      "properties": {
        "決算期": {
          "type": "string"
        }
      }
    },
    "JsonBrains1OutputValueInformation": {
      "type": "object",
      "properties": {
        "経常収支比率": {
          "format": "double",
          "type": "number"
        },
        "売上高増加率": {
          "format": "double",
          "type": "number"
        },
        "総資産棚卸資産比率": {
          "format": "double",
          "type": "number"
        },
        "総資産固定資産比率": {
          "format": "double",
          "type": "number"
        },
        "受取債権回転期間（平均）": {
          "format": "double",
          "type": "number"
        },
        "仕入債務回転期間（平均）": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産回転期間（平均）": {
          "format": "double",
          "type": "number"
        },
        "固定資産回転期間・伸び率": {
          "format": "double",
          "type": "number"
        },
        "経常収支比率_評価": {
          "type": "string"
        },
        "売上高増加率_評価": {
          "type": "string"
        },
        "受取債権回転期間　（平均）_評価": {
          "type": "string"
        },
        "仕入債務回転期間　（平均）_評価": {
          "type": "string"
        },
        "棚卸資産回転期間_評価": {
          "type": "string"
        },
        "経常収支比率分析到達Position": {
          "type": "string"
        },
        "経常収支比率分析到達Positionの危険度": {
          "type": "string"
        },
        "経常収支比率分析２期間比較による時系列評価": {
          "type": "string"
        }
      }
    },
    "JsonApiResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "httpStatusCode": {
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "JsonBrains2Input": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonBrains2InputInformation"
          }
        }
      }
    },
    "JsonBrains2InputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisInputBasicInformation"
        },
        "財務情報": {
          "$ref": "#/definitions/JsonBrains2InputValueInformation"
        }
      }
    },
    "JsonBrains2InputValueInformation": {
      "required": [
        "受取手形",
        "売掛金",
        "その他当座資産",
        "当座資産計",
        "棚卸資産計",
        "前渡金",
        "前払費用",
        "未収入金",
        "未収収益",
        "仮払金",
        "その他流動資産",
        "△貸倒引当金（流動資産）",
        "前払年金費用",
        "△貸倒引当金（固定資産）",
        "固定資産計",
        "支払手形",
        "買掛金",
        "短期借入金",
        "１年内返済長期借入金",
        "１年内償還社債",
        "未払金",
        "未払費用",
        "前受金",
        "未成工事受入金",
        "前受収益",
        "仮受金",
        "短期負債性引当金",
        "その他流動負債",
        "流動負債計",
        "社債",
        "長期借入金",
        "退職給付引当金",
        "その他長期負債性引当金",
        "特別法上の準備金",
        "純資産合計",
        "負債・純資産合計",
        "売上高",
        "売上原価",
        "販売費・一般管理費",
        "営業利益",
        "受取利息・配当金",
        "その他営業外収益",
        "支払利息・割引料",
        "その他営業外費用",
        "割引手形",
        "裏書譲渡手形",
        "減価償却実施額",
        "無形固定資産償却額",
        "投資その他の資産償却額",
        "繰延資産償却額"
      ],
      "type": "object",
      "properties": {
        "受取手形": {
          "format": "double",
          "type": "number"
        },
        "売掛金": {
          "format": "double",
          "type": "number"
        },
        "その他当座資産": {
          "format": "double",
          "type": "number"
        },
        "当座資産計": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産計": {
          "format": "double",
          "type": "number"
        },
        "前渡金": {
          "format": "double",
          "type": "number"
        },
        "前払費用": {
          "format": "double",
          "type": "number"
        },
        "未収入金": {
          "format": "double",
          "type": "number"
        },
        "未収収益": {
          "format": "double",
          "type": "number"
        },
        "仮払金": {
          "format": "double",
          "type": "number"
        },
        "その他流動資産": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（流動資産）": {
          "format": "double",
          "type": "number"
        },
        "前払年金費用": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（固定資産）": {
          "format": "double",
          "type": "number"
        },
        "固定資産計": {
          "format": "double",
          "type": "number"
        },
        "支払手形": {
          "format": "double",
          "type": "number"
        },
        "買掛金": {
          "format": "double",
          "type": "number"
        },
        "短期借入金": {
          "format": "double",
          "type": "number"
        },
        "１年内返済長期借入金": {
          "format": "double",
          "type": "number"
        },
        "１年内償還社債": {
          "format": "double",
          "type": "number"
        },
        "未払金": {
          "format": "double",
          "type": "number"
        },
        "未払費用": {
          "format": "double",
          "type": "number"
        },
        "前受金": {
          "format": "double",
          "type": "number"
        },
        "未成工事受入金": {
          "format": "double",
          "type": "number"
        },
        "前受収益": {
          "format": "double",
          "type": "number"
        },
        "仮受金": {
          "format": "double",
          "type": "number"
        },
        "短期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "その他流動負債": {
          "format": "double",
          "type": "number"
        },
        "流動負債計": {
          "format": "double",
          "type": "number"
        },
        "社債": {
          "format": "double",
          "type": "number"
        },
        "長期借入金": {
          "format": "double",
          "type": "number"
        },
        "退職給付引当金": {
          "format": "double",
          "type": "number"
        },
        "その他長期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "特別法上の準備金": {
          "format": "double",
          "type": "number"
        },
        "純資産合計": {
          "format": "double",
          "type": "number"
        },
        "負債・純資産合計": {
          "format": "double",
          "type": "number"
        },
        "売上高": {
          "format": "double",
          "type": "number"
        },
        "売上原価": {
          "format": "double",
          "type": "number"
        },
        "販売費・一般管理費": {
          "format": "double",
          "type": "number"
        },
        "営業利益": {
          "format": "double",
          "type": "number"
        },
        "受取利息・配当金": {
          "format": "double",
          "type": "number"
        },
        "その他営業外収益": {
          "format": "double",
          "type": "number"
        },
        "支払利息・割引料": {
          "format": "double",
          "type": "number"
        },
        "その他営業外費用": {
          "format": "double",
          "type": "number"
        },
        "割引手形": {
          "format": "double",
          "type": "number"
        },
        "裏書譲渡手形": {
          "format": "double",
          "type": "number"
        },
        "減価償却実施額": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産償却額": {
          "format": "double",
          "type": "number"
        },
        "投資その他の資産償却額": {
          "format": "double",
          "type": "number"
        },
        "繰延資産償却額": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "JsonBrains2Output": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonBrains2OutputInformation"
          }
        }
      }
    },
    "JsonBrains2OutputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisOutputBasicInformation"
        },
        "分析情報": {
          "$ref": "#/definitions/JsonBrains2OutputValueInformation"
        }
      }
    },
    "JsonBrains2OutputValueInformation": {
      "type": "object",
      "properties": {
        "経常収支比率": {
          "format": "double",
          "type": "number"
        },
        "当座比率": {
          "format": "double",
          "type": "number"
        },
        "借入金依存度": {
          "format": "double",
          "type": "number"
        },
        "営業利益支払金利比率": {
          "format": "double",
          "type": "number"
        },
        "実質自己資本比率": {
          "format": "double",
          "type": "number"
        },
        "受取債権回転期間・前期比": {
          "format": "double",
          "type": "number"
        },
        "仕入債務回転期間・前期比": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産回転期間・前期比": {
          "format": "double",
          "type": "number"
        },
        "当座比率_評価": {
          "type": "string"
        },
        "経常収支比率_評価": {
          "type": "string"
        },
        "借入金依存度_評価": {
          "type": "string"
        },
        "営業利益支払金利比率_評価": {
          "type": "string"
        },
        "実質自己資産比率_評価": {
          "type": "string"
        },
        "判別関数分析の判別関数値": {
          "format": "double",
          "type": "number"
        },
        "判別関数分析に於ける安全性": {
          "format": "double",
          "type": "number"
        },
        "安全性に対する年間評価": {
          "type": "string"
        },
        "安全性に対する時系列評価": {
          "type": "string"
        }
      }
    },
    "JsonCFAnalysisInput": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonCFAnalysisInputInformation"
          }
        }
      }
    },
    "JsonCFAnalysisInputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisInputBasicInformation"
        },
        "財務情報": {
          "$ref": "#/definitions/JsonCFAnalysisInputValueInformation"
        }
      }
    },
    "JsonCFAnalysisInputValueInformation": {
      "required": [
        "受取手形",
        "売掛金",
        "有価証券",
        "その他当座資産",
        "棚卸資産計",
        "前渡金",
        "前払費用",
        "繰延税金資産",
        "短期貸付金",
        "未収入金",
        "未収収益",
        "仮払金",
        "その他流動資産",
        "△貸倒引当金（流動資産）",
        "有形固定資産計",
        "無形固定資産計",
        "投資有価証券・出資金",
        "長期貸付金",
        "前払年金費用",
        "長期繰延税金資産",
        "長期滞り債権",
        "その他投資",
        "△貸倒引当金（固定資産）",
        "繰延資産計",
        "支払手形",
        "買掛金",
        "短期借入金",
        "１年内返済長期借入金",
        "１年内償還社債",
        "リース債務（流動負債）",
        "未払金",
        "未払税金",
        "繰延税金負債",
        "未払費用",
        "前受金",
        "未成工事受入金",
        "前受収益",
        "仮受金",
        "設備関係支払手形",
        "設備関係未払金",
        "短期負債性引当金",
        "資産除去債務（流動負債）",
        "その他流動負債",
        "社債",
        "長期借入金",
        "リース債務（固定負債）",
        "長期繰延税金負債",
        "退職給付引当金",
        "その他長期負債性引当金",
        "資産除去債務（固定負債）",
        "その他固定負債",
        "特別法上の準備金",
        "資本金",
        "資本準備金",
        "その他資本剰余金",
        "利益準備金（純資産）",
        "△自己株式",
        "その他有価証券評価差額金",
        "繰延ヘッジ損益",
        "土地再評価差額金",
        "その他評価・換算差額等",
        "新株予約権",
        "受取利息・配当金",
        "有価証券評価益",
        "その他営業外収益",
        "支払利息・割引料",
        "有価証券評価損",
        "その他営業外費用",
        "固定資産売却益",
        "投資有価証券評価益",
        "その他特別利益",
        "固定資産除却損",
        "投資有価証券評価損",
        "減損損失",
        "その他特別損失",
        "税引前当期純利益",
        "法人税等充当額",
        "法人税等調整額",
        "利益準備金取崩額",
        "資本準備金取崩額",
        "利益準備金（利益処分案）",
        "期末配当金",
        "役員賞与",
        "その他（社外流出）",
        "剰余金の配当（資本剰余金）",
        "自己株式の消却（資本剰余金）",
        "自己株式処分益",
        "剰余金の配当（利益剰余金）",
        "配当に伴う準備金の積立",
        "自己株式の消却（利益剰余金）",
        "自己株式の処分（利益剰余金）",
        "過年度税効果調整額",
        "その他社外流出",
        "その他内部留保",
        "割引手形",
        "裏書譲渡手形",
        "減価償却実施額",
        "無形固定資産償却額",
        "投資その他の資産償却額",
        "繰延資産償却額"
      ],
      "type": "object",
      "properties": {
        "受取手形": {
          "format": "double",
          "type": "number"
        },
        "売掛金": {
          "format": "double",
          "type": "number"
        },
        "有価証券": {
          "format": "double",
          "type": "number"
        },
        "その他当座資産": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産計": {
          "format": "double",
          "type": "number"
        },
        "前渡金": {
          "format": "double",
          "type": "number"
        },
        "前払費用": {
          "format": "double",
          "type": "number"
        },
        "繰延税金資産": {
          "format": "double",
          "type": "number"
        },
        "短期貸付金": {
          "format": "double",
          "type": "number"
        },
        "未収入金": {
          "format": "double",
          "type": "number"
        },
        "未収収益": {
          "format": "double",
          "type": "number"
        },
        "仮払金": {
          "format": "double",
          "type": "number"
        },
        "その他流動資産": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（流動資産）": {
          "format": "double",
          "type": "number"
        },
        "有形固定資産計": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産計": {
          "format": "double",
          "type": "number"
        },
        "投資有価証券・出資金": {
          "format": "double",
          "type": "number"
        },
        "長期貸付金": {
          "format": "double",
          "type": "number"
        },
        "前払年金費用": {
          "format": "double",
          "type": "number"
        },
        "長期繰延税金資産": {
          "format": "double",
          "type": "number"
        },
        "長期滞り債権": {
          "format": "double",
          "type": "number"
        },
        "その他投資": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（固定資産）": {
          "format": "double",
          "type": "number"
        },
        "繰延資産計": {
          "format": "double",
          "type": "number"
        },
        "支払手形": {
          "format": "double",
          "type": "number"
        },
        "買掛金": {
          "format": "double",
          "type": "number"
        },
        "短期借入金": {
          "format": "double",
          "type": "number"
        },
        "１年内返済長期借入金": {
          "format": "double",
          "type": "number"
        },
        "１年内償還社債": {
          "format": "double",
          "type": "number"
        },
        "リース債務（流動負債）": {
          "format": "double",
          "type": "number"
        },
        "未払金": {
          "format": "double",
          "type": "number"
        },
        "未払税金": {
          "format": "double",
          "type": "number"
        },
        "繰延税金負債": {
          "format": "double",
          "type": "number"
        },
        "未払費用": {
          "format": "double",
          "type": "number"
        },
        "前受金": {
          "format": "double",
          "type": "number"
        },
        "未成工事受入金": {
          "format": "double",
          "type": "number"
        },
        "前受収益": {
          "format": "double",
          "type": "number"
        },
        "仮受金": {
          "format": "double",
          "type": "number"
        },
        "設備関係支払手形": {
          "format": "double",
          "type": "number"
        },
        "設備関係未払金": {
          "format": "double",
          "type": "number"
        },
        "短期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "資産除去債務（流動負債）": {
          "format": "double",
          "type": "number"
        },
        "その他流動負債": {
          "format": "double",
          "type": "number"
        },
        "社債": {
          "format": "double",
          "type": "number"
        },
        "長期借入金": {
          "format": "double",
          "type": "number"
        },
        "リース債務（固定負債）": {
          "format": "double",
          "type": "number"
        },
        "長期繰延税金負債": {
          "format": "double",
          "type": "number"
        },
        "退職給付引当金": {
          "format": "double",
          "type": "number"
        },
        "その他長期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "資産除去債務（固定負債）": {
          "format": "double",
          "type": "number"
        },
        "その他固定負債": {
          "format": "double",
          "type": "number"
        },
        "特別法上の準備金": {
          "format": "double",
          "type": "number"
        },
        "資本金": {
          "format": "double",
          "type": "number"
        },
        "資本準備金": {
          "format": "double",
          "type": "number"
        },
        "その他資本剰余金": {
          "format": "double",
          "type": "number"
        },
        "利益準備金（純資産）": {
          "format": "double",
          "type": "number"
        },
        "△自己株式": {
          "format": "double",
          "type": "number"
        },
        "その他有価証券評価差額金": {
          "format": "double",
          "type": "number"
        },
        "繰延ヘッジ損益": {
          "format": "double",
          "type": "number"
        },
        "土地再評価差額金": {
          "format": "double",
          "type": "number"
        },
        "その他評価・換算差額等": {
          "format": "double",
          "type": "number"
        },
        "新株予約権": {
          "format": "double",
          "type": "number"
        },
        "受取利息・配当金": {
          "format": "double",
          "type": "number"
        },
        "有価証券評価益": {
          "format": "double",
          "type": "number"
        },
        "その他営業外収益": {
          "format": "double",
          "type": "number"
        },
        "支払利息・割引料": {
          "format": "double",
          "type": "number"
        },
        "有価証券評価損": {
          "format": "double",
          "type": "number"
        },
        "その他営業外費用": {
          "format": "double",
          "type": "number"
        },
        "固定資産売却益": {
          "format": "double",
          "type": "number"
        },
        "投資有価証券評価益": {
          "format": "double",
          "type": "number"
        },
        "その他特別利益": {
          "format": "double",
          "type": "number"
        },
        "固定資産除却損": {
          "format": "double",
          "type": "number"
        },
        "投資有価証券評価損": {
          "format": "double",
          "type": "number"
        },
        "減損損失": {
          "format": "double",
          "type": "number"
        },
        "その他特別損失": {
          "format": "double",
          "type": "number"
        },
        "税引前当期純利益": {
          "format": "double",
          "type": "number"
        },
        "法人税等充当額": {
          "format": "double",
          "type": "number"
        },
        "法人税等調整額": {
          "format": "double",
          "type": "number"
        },
        "利益準備金取崩額": {
          "format": "double",
          "type": "number"
        },
        "資本準備金取崩額": {
          "format": "double",
          "type": "number"
        },
        "利益準備金（利益処分案）": {
          "format": "double",
          "type": "number"
        },
        "期末配当金": {
          "format": "double",
          "type": "number"
        },
        "役員賞与": {
          "format": "double",
          "type": "number"
        },
        "その他（社外流出）": {
          "format": "double",
          "type": "number"
        },
        "剰余金の配当（資本剰余金）": {
          "format": "double",
          "type": "number"
        },
        "自己株式の消却（資本剰余金）": {
          "format": "double",
          "type": "number"
        },
        "自己株式処分益": {
          "format": "double",
          "type": "number"
        },
        "剰余金の配当（利益剰余金）": {
          "format": "double",
          "type": "number"
        },
        "配当に伴う準備金の積立": {
          "format": "double",
          "type": "number"
        },
        "自己株式の消却（利益剰余金）": {
          "format": "double",
          "type": "number"
        },
        "自己株式の処分（利益剰余金）": {
          "format": "double",
          "type": "number"
        },
        "過年度税効果調整額": {
          "format": "double",
          "type": "number"
        },
        "その他社外流出": {
          "format": "double",
          "type": "number"
        },
        "その他内部留保": {
          "format": "double",
          "type": "number"
        },
        "割引手形": {
          "format": "double",
          "type": "number"
        },
        "裏書譲渡手形": {
          "format": "double",
          "type": "number"
        },
        "減価償却実施額": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産償却額": {
          "format": "double",
          "type": "number"
        },
        "投資その他の資産償却額": {
          "format": "double",
          "type": "number"
        },
        "繰延資産償却額": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "JsonCFAnalysisOutput": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonCFAnalysisOutputInformation"
          }
        }
      }
    },
    "JsonCFAnalysisOutputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisOutputBasicInformation"
        },
        "分析情報": {
          "$ref": "#/definitions/JsonCFAnalysisOutputValueInformation"
        }
      }
    },
    "JsonCFAnalysisOutputValueInformation": {
      "type": "object",
      "properties": {
        "税引前当期純利益": {
          "format": "double",
          "type": "number"
        },
        "減価償却費": {
          "format": "double",
          "type": "number"
        },
        "減損損失": {
          "format": "double",
          "type": "number"
        },
        "有価証券等の評価損益": {
          "format": "double",
          "type": "number"
        },
        "貸倒引当金の増減": {
          "format": "double",
          "type": "number"
        },
        "退職給付引当金の増減": {
          "format": "double",
          "type": "number"
        },
        "その他負債性引当金の増減": {
          "format": "double",
          "type": "number"
        },
        "受取利息及び配当金": {
          "format": "double",
          "type": "number"
        },
        "支払利息及び割引料": {
          "format": "double",
          "type": "number"
        },
        "その他営業外損益": {
          "format": "double",
          "type": "number"
        },
        "固定資産売却益": {
          "format": "double",
          "type": "number"
        },
        "固定資産除却損": {
          "format": "double",
          "type": "number"
        },
        "その他特別損益": {
          "format": "double",
          "type": "number"
        },
        "売上債権の増減": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産の増減": {
          "format": "double",
          "type": "number"
        },
        "仕入債務の増減": {
          "format": "double",
          "type": "number"
        },
        "その他流動資産の増減": {
          "format": "double",
          "type": "number"
        },
        "その他流動負債の増減": {
          "format": "double",
          "type": "number"
        },
        "その他（営業キャッシュフロー）": {
          "format": "double",
          "type": "number"
        },
        "小計（営業キャッシュフロー）": {
          "format": "double",
          "type": "number"
        },
        "利息及び割引料の支払額": {
          "format": "double",
          "type": "number"
        },
        "利息及び配当金の受取額": {
          "format": "double",
          "type": "number"
        },
        "法人税等の支払額": {
          "format": "double",
          "type": "number"
        },
        "営業活動によるキャッシュフロー": {
          "format": "double",
          "type": "number"
        },
        "有形固定資産の増減": {
          "format": "double",
          "type": "number"
        },
        "有価証券等の増減": {
          "format": "double",
          "type": "number"
        },
        "貸付金の増減": {
          "format": "double",
          "type": "number"
        },
        "投資等の増減": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産・繰延資産の増減": {
          "format": "double",
          "type": "number"
        },
        "設備関係支払手形等の増減": {
          "format": "double",
          "type": "number"
        },
        "その他（投資キャッシュフロー）": {
          "format": "double",
          "type": "number"
        },
        "投資活動によるキャッシュフロー": {
          "format": "double",
          "type": "number"
        },
        "フリーキャッシュフロー": {
          "format": "double",
          "type": "number"
        },
        "短期借入金の増減": {
          "format": "double",
          "type": "number"
        },
        "割引手形の増減": {
          "format": "double",
          "type": "number"
        },
        "社債の発行・償還": {
          "format": "double",
          "type": "number"
        },
        "長期借入金の増減": {
          "format": "double",
          "type": "number"
        },
        "リース債務の増減": {
          "format": "double",
          "type": "number"
        },
        "株式発行による収入": {
          "format": "double",
          "type": "number"
        },
        "自己株式の増減": {
          "format": "double",
          "type": "number"
        },
        "配当金の支払額": {
          "format": "double",
          "type": "number"
        },
        "財務活動によるキャッシュフロー": {
          "format": "double",
          "type": "number"
        },
        "税効果会計による調整額": {
          "format": "double",
          "type": "number"
        },
        "現金及び現金同等物の増減": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "JsonMovementOfFundsAnalysisInput": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonMovementOfFundsAnalysisInputInformation"
          }
        }
      }
    },
    "JsonMovementOfFundsAnalysisInputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisInputBasicInformation"
        },
        "財務情報": {
          "$ref": "#/definitions/JsonMovementOfFundsAnalysisInputValueInformation"
        }
      }
    },
    "JsonMovementOfFundsAnalysisInputValueInformation": {
      "required": [
        "現金・預金",
        "受取手形",
        "売掛金",
        "有価証券",
        "その他当座資産",
        "棚卸資産計",
        "前渡金",
        "前払費用",
        "繰延税金資産",
        "短期貸付金",
        "未収入金",
        "未収収益",
        "仮払金",
        "その他流動資産",
        "△貸倒引当金（流動資産）",
        "有形固定資産計",
        "無形固定資産計",
        "投資有価証券・出資金",
        "長期貸付金",
        "前払年金費用",
        "長期繰延税金資産",
        "長期滞り債権",
        "その他投資",
        "△貸倒引当金（固定資産）",
        "繰延資産計",
        "支払手形",
        "買掛金",
        "短期借入金",
        "１年内返済長期借入金",
        "１年内償還社債",
        "リース債務（流動負債）",
        "未払金",
        "未払税金",
        "繰延税金負債",
        "未払費用",
        "前受金",
        "未成工事受入金",
        "前受収益",
        "仮受金",
        "設備関係支払手形",
        "設備関係未払金",
        "短期負債性引当金",
        "資産除去債務（流動負債）",
        "その他流動負債",
        "社債",
        "長期借入金",
        "リース債務（固定負債）",
        "長期繰延税金負債",
        "退職給付引当金",
        "その他長期負債性引当金",
        "資産除去債務（固定負債）",
        "その他固定負債",
        "特別法上の準備金",
        "資本金",
        "資本準備金",
        "その他資本剰余金",
        "利益準備金（純資産）",
        "△自己株式",
        "その他有価証券評価差額金",
        "繰延ヘッジ損益",
        "土地再評価差額金",
        "その他評価・換算差額等",
        "新株予約権",
        "売上高",
        "売上原価",
        "販売費・一般管理費",
        "受取利息・配当金",
        "有価証券評価益",
        "その他営業外収益",
        "支払利息・割引料",
        "有価証券評価損",
        "その他営業外費用",
        "固定資産売却益",
        "投資有価証券評価益",
        "その他特別利益",
        "固定資産除却損",
        "投資有価証券評価損",
        "減損損失",
        "その他特別損失",
        "法人税等充当額",
        "法人税等調整額",
        "利益準備金取崩額",
        "資本準備金取崩額",
        "利益準備金（利益処分案）",
        "期末配当金",
        "役員賞与",
        "その他（社外流出）",
        "剰余金の配当（資本剰余金）",
        "自己株式の消却（資本剰余金）",
        "自己株式処分益",
        "任意積立金の減少",
        "剰余金の配当（利益剰余金）",
        "配当に伴う準備金の積立",
        "自己株式の消却（利益剰余金）",
        "自己株式の処分（利益剰余金）",
        "過年度税効果調整額",
        "その他社外流出",
        "その他内部留保",
        "割引手形",
        "裏書譲渡手形",
        "減価償却実施額",
        "無形固定資産償却額",
        "投資その他の資産償却額",
        "繰延資産償却額"
      ],
      "type": "object",
      "properties": {
        "現金・預金": {
          "format": "double",
          "type": "number"
        },
        "受取手形": {
          "format": "double",
          "type": "number"
        },
        "売掛金": {
          "format": "double",
          "type": "number"
        },
        "有価証券": {
          "format": "double",
          "type": "number"
        },
        "その他当座資産": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産計": {
          "format": "double",
          "type": "number"
        },
        "前渡金": {
          "format": "double",
          "type": "number"
        },
        "前払費用": {
          "format": "double",
          "type": "number"
        },
        "繰延税金資産": {
          "format": "double",
          "type": "number"
        },
        "短期貸付金": {
          "format": "double",
          "type": "number"
        },
        "未収入金": {
          "format": "double",
          "type": "number"
        },
        "未収収益": {
          "format": "double",
          "type": "number"
        },
        "仮払金": {
          "format": "double",
          "type": "number"
        },
        "その他流動資産": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（流動資産）": {
          "format": "double",
          "type": "number"
        },
        "有形固定資産計": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産計": {
          "format": "double",
          "type": "number"
        },
        "投資有価証券・出資金": {
          "format": "double",
          "type": "number"
        },
        "長期貸付金": {
          "format": "double",
          "type": "number"
        },
        "前払年金費用": {
          "format": "double",
          "type": "number"
        },
        "長期繰延税金資産": {
          "format": "double",
          "type": "number"
        },
        "長期滞り債権": {
          "format": "double",
          "type": "number"
        },
        "その他投資": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（固定資産）": {
          "format": "double",
          "type": "number"
        },
        "繰延資産計": {
          "format": "double",
          "type": "number"
        },
        "支払手形": {
          "format": "double",
          "type": "number"
        },
        "買掛金": {
          "format": "double",
          "type": "number"
        },
        "短期借入金": {
          "format": "double",
          "type": "number"
        },
        "１年内返済長期借入金": {
          "format": "double",
          "type": "number"
        },
        "１年内償還社債": {
          "format": "double",
          "type": "number"
        },
        "リース債務（流動負債）": {
          "format": "double",
          "type": "number"
        },
        "未払金": {
          "format": "double",
          "type": "number"
        },
        "未払税金": {
          "format": "double",
          "type": "number"
        },
        "繰延税金負債": {
          "format": "double",
          "type": "number"
        },
        "未払費用": {
          "format": "double",
          "type": "number"
        },
        "前受金": {
          "format": "double",
          "type": "number"
        },
        "未成工事受入金": {
          "format": "double",
          "type": "number"
        },
        "前受収益": {
          "format": "double",
          "type": "number"
        },
        "仮受金": {
          "format": "double",
          "type": "number"
        },
        "設備関係支払手形": {
          "format": "double",
          "type": "number"
        },
        "設備関係未払金": {
          "format": "double",
          "type": "number"
        },
        "短期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "資産除去債務（流動負債）": {
          "format": "double",
          "type": "number"
        },
        "その他流動負債": {
          "format": "double",
          "type": "number"
        },
        "社債": {
          "format": "double",
          "type": "number"
        },
        "長期借入金": {
          "format": "double",
          "type": "number"
        },
        "リース債務（固定負債）": {
          "format": "double",
          "type": "number"
        },
        "長期繰延税金負債": {
          "format": "double",
          "type": "number"
        },
        "退職給付引当金": {
          "format": "double",
          "type": "number"
        },
        "その他長期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "資産除去債務（固定負債）": {
          "format": "double",
          "type": "number"
        },
        "その他固定負債": {
          "format": "double",
          "type": "number"
        },
        "特別法上の準備金": {
          "format": "double",
          "type": "number"
        },
        "資本金": {
          "format": "double",
          "type": "number"
        },
        "資本準備金": {
          "format": "double",
          "type": "number"
        },
        "その他資本剰余金": {
          "format": "double",
          "type": "number"
        },
        "利益準備金（純資産）": {
          "format": "double",
          "type": "number"
        },
        "△自己株式": {
          "format": "double",
          "type": "number"
        },
        "その他有価証券評価差額金": {
          "format": "double",
          "type": "number"
        },
        "繰延ヘッジ損益": {
          "format": "double",
          "type": "number"
        },
        "土地再評価差額金": {
          "format": "double",
          "type": "number"
        },
        "その他評価・換算差額等": {
          "format": "double",
          "type": "number"
        },
        "新株予約権": {
          "format": "double",
          "type": "number"
        },
        "売上高": {
          "format": "double",
          "type": "number"
        },
        "売上原価": {
          "format": "double",
          "type": "number"
        },
        "販売費・一般管理費": {
          "format": "double",
          "type": "number"
        },
        "受取利息・配当金": {
          "format": "double",
          "type": "number"
        },
        "有価証券評価益": {
          "format": "double",
          "type": "number"
        },
        "その他営業外収益": {
          "format": "double",
          "type": "number"
        },
        "支払利息・割引料": {
          "format": "double",
          "type": "number"
        },
        "有価証券評価損": {
          "format": "double",
          "type": "number"
        },
        "その他営業外費用": {
          "format": "double",
          "type": "number"
        },
        "固定資産売却益": {
          "format": "double",
          "type": "number"
        },
        "投資有価証券評価益": {
          "format": "double",
          "type": "number"
        },
        "その他特別利益": {
          "format": "double",
          "type": "number"
        },
        "固定資産除却損": {
          "format": "double",
          "type": "number"
        },
        "投資有価証券評価損": {
          "format": "double",
          "type": "number"
        },
        "減損損失": {
          "format": "double",
          "type": "number"
        },
        "その他特別損失": {
          "format": "double",
          "type": "number"
        },
        "法人税等充当額": {
          "format": "double",
          "type": "number"
        },
        "法人税等調整額": {
          "format": "double",
          "type": "number"
        },
        "利益準備金取崩額": {
          "format": "double",
          "type": "number"
        },
        "資本準備金取崩額": {
          "format": "double",
          "type": "number"
        },
        "利益準備金（利益処分案）": {
          "format": "double",
          "type": "number"
        },
        "期末配当金": {
          "format": "double",
          "type": "number"
        },
        "役員賞与": {
          "format": "double",
          "type": "number"
        },
        "その他（社外流出）": {
          "format": "double",
          "type": "number"
        },
        "剰余金の配当（資本剰余金）": {
          "format": "double",
          "type": "number"
        },
        "自己株式の消却（資本剰余金）": {
          "format": "double",
          "type": "number"
        },
        "自己株式処分益": {
          "format": "double",
          "type": "number"
        },
        "任意積立金の減少": {
          "format": "double",
          "type": "number"
        },
        "剰余金の配当（利益剰余金）": {
          "format": "double",
          "type": "number"
        },
        "配当に伴う準備金の積立": {
          "format": "double",
          "type": "number"
        },
        "自己株式の消却（利益剰余金）": {
          "format": "double",
          "type": "number"
        },
        "自己株式の処分（利益剰余金）": {
          "format": "double",
          "type": "number"
        },
        "過年度税効果調整額": {
          "format": "double",
          "type": "number"
        },
        "その他社外流出": {
          "format": "double",
          "type": "number"
        },
        "その他内部留保": {
          "format": "double",
          "type": "number"
        },
        "割引手形": {
          "format": "double",
          "type": "number"
        },
        "裏書譲渡手形": {
          "format": "double",
          "type": "number"
        },
        "減価償却実施額": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産償却額": {
          "format": "double",
          "type": "number"
        },
        "投資その他の資産償却額": {
          "format": "double",
          "type": "number"
        },
        "繰延資産償却額": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "JsonMovementOfFundsAnalysisOutput": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonMovementOfFundsAnalysisOutputInformation"
          }
        }
      }
    },
    "JsonMovementOfFundsAnalysisOutputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisOutputBasicInformation"
        },
        "分析情報": {
          "$ref": "#/definitions/JsonMovementOfFundsAnalysisOutputValueInformation"
        }
      }
    },
    "JsonMovementOfFundsAnalysisOutputValueInformation": {
      "type": "object",
      "properties": {
        "売上高": {
          "format": "double",
          "type": "number"
        },
        "△受取手形（含割手・譲手）増加高": {
          "format": "double",
          "type": "number"
        },
        "△売掛金増加高": {
          "format": "double",
          "type": "number"
        },
        "前受金・前受収益増加高": {
          "format": "double",
          "type": "number"
        },
        "営業外収益": {
          "format": "double",
          "type": "number"
        },
        "経常収入合計": {
          "format": "double",
          "type": "number"
        },
        "売上原価": {
          "format": "double",
          "type": "number"
        },
        "△支払手形（含譲手）増加高": {
          "format": "double",
          "type": "number"
        },
        "△買掛金増加高": {
          "format": "double",
          "type": "number"
        },
        "△未払金・未払費用増加高": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産増加高": {
          "format": "double",
          "type": "number"
        },
        "前渡金・前払費用増加高": {
          "format": "double",
          "type": "number"
        },
        "未収入金・未収収益増加高": {
          "format": "double",
          "type": "number"
        },
        "販売費・一般管理費": {
          "format": "double",
          "type": "number"
        },
        "営業外費用": {
          "format": "double",
          "type": "number"
        },
        "その他流動資産増加高": {
          "format": "double",
          "type": "number"
        },
        "△減価償却費": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金増加高": {
          "format": "double",
          "type": "number"
        },
        "△退職給付引当金増加高": {
          "format": "double",
          "type": "number"
        },
        "△短期負債性引当金増加高": {
          "format": "double",
          "type": "number"
        },
        "△その他長期負債性引当金増加高": {
          "format": "double",
          "type": "number"
        },
        "△その他流動負債増加高": {
          "format": "double",
          "type": "number"
        },
        "経常支出合計": {
          "format": "double",
          "type": "number"
        },
        "経常収支": {
          "format": "double",
          "type": "number"
        },
        "経常収支比率": {
          "format": "double",
          "type": "number"
        },
        "その他の特別利益": {
          "format": "double",
          "type": "number"
        },
        "△その他の特別損失": {
          "format": "double",
          "type": "number"
        },
        "特別損益収支": {
          "format": "double",
          "type": "number"
        },
        "固定資産売却益": {
          "format": "double",
          "type": "number"
        },
        "設備関係支払手形等増加高": {
          "format": "double",
          "type": "number"
        },
        "設備関係収入合計": {
          "format": "double",
          "type": "number"
        },
        "有形固定資産増加高": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産増加高": {
          "format": "double",
          "type": "number"
        },
        "投資等増加高": {
          "format": "double",
          "type": "number"
        },
        "繰延資産増加高": {
          "format": "double",
          "type": "number"
        },
        "△その他固定負債増加高": {
          "format": "double",
          "type": "number"
        },
        "設備関係支出合計": {
          "format": "double",
          "type": "number"
        },
        "設備関係収支": {
          "format": "double",
          "type": "number"
        },
        "法人税等支払高": {
          "format": "double",
          "type": "number"
        },
        "配当金支払高": {
          "format": "double",
          "type": "number"
        },
        "その他": {
          "format": "double",
          "type": "number"
        },
        "決算関係収支": {
          "format": "double",
          "type": "number"
        },
        "短期借入金増加高": {
          "format": "double",
          "type": "number"
        },
        "割引手形増加高": {
          "format": "double",
          "type": "number"
        },
        "長期借入金増加高": {
          "format": "double",
          "type": "number"
        },
        "社債増加高": {
          "format": "double",
          "type": "number"
        },
        "リース債務増加高": {
          "format": "double",
          "type": "number"
        },
        "資本金・資本準備金等増加高": {
          "format": "double",
          "type": "number"
        },
        "利益準備金増加高": {
          "format": "double",
          "type": "number"
        },
        "自己株式の取得・処分・消却": {
          "format": "double",
          "type": "number"
        },
        "財務関係収入": {
          "format": "double",
          "type": "number"
        },
        "有価証券増加高": {
          "format": "double",
          "type": "number"
        },
        "短期貸付金増加高": {
          "format": "double",
          "type": "number"
        },
        "長期貸付金増加高": {
          "format": "double",
          "type": "number"
        },
        "財務関係支出": {
          "format": "double",
          "type": "number"
        },
        "財務関係収支": {
          "format": "double",
          "type": "number"
        },
        "税効果調整額": {
          "format": "double",
          "type": "number"
        },
        "総合収支": {
          "format": "double",
          "type": "number"
        },
        "現金・預金増加高": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "JsonWindowDressingInput": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonWindowDressingInputInformation"
          }
        }
      }
    },
    "JsonWindowDressingInputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisInputBasicInformation"
        },
        "財務情報": {
          "$ref": "#/definitions/JsonWindowDressingInputValueInformation"
        }
      }
    },
    "JsonWindowDressingInputValueInformation": {
      "required": [
        "受取手形",
        "売掛金",
        "その他当座資産",
        "棚卸資産計",
        "前渡金",
        "前払費用",
        "未収入金",
        "未収収益",
        "仮払金",
        "その他流動資産",
        "△貸倒引当金（流動資産）",
        "流動資産計",
        "前払年金費用",
        "△貸倒引当金（固定資産）",
        "支払手形",
        "買掛金",
        "未払金",
        "未払費用",
        "前受金",
        "未成工事受入金",
        "前受収益",
        "仮受金",
        "短期負債性引当金",
        "その他流動負債",
        "流動負債計",
        "退職給付引当金",
        "その他長期負債性引当金",
        "売上高",
        "売上原価",
        "販売費・一般管理費",
        "営業外収益",
        "受取利息・配当金",
        "その他営業外収益",
        "営業外費用",
        "支払利息・割引料",
        "その他営業外費用",
        "割引手形",
        "裏書譲渡手形",
        "減価償却実施額",
        "無形固定資産償却額",
        "投資その他の資産償却額",
        "繰延資産償却額"
      ],
      "type": "object",
      "properties": {
        "受取手形": {
          "format": "double",
          "type": "number"
        },
        "売掛金": {
          "format": "double",
          "type": "number"
        },
        "その他当座資産": {
          "format": "double",
          "type": "number"
        },
        "棚卸資産計": {
          "format": "double",
          "type": "number"
        },
        "前渡金": {
          "format": "double",
          "type": "number"
        },
        "前払費用": {
          "format": "double",
          "type": "number"
        },
        "未収入金": {
          "format": "double",
          "type": "number"
        },
        "未収収益": {
          "format": "double",
          "type": "number"
        },
        "仮払金": {
          "format": "double",
          "type": "number"
        },
        "その他流動資産": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（流動資産）": {
          "format": "double",
          "type": "number"
        },
        "流動資産計": {
          "format": "double",
          "type": "number"
        },
        "前払年金費用": {
          "format": "double",
          "type": "number"
        },
        "△貸倒引当金（固定資産）": {
          "format": "double",
          "type": "number"
        },
        "支払手形": {
          "format": "double",
          "type": "number"
        },
        "買掛金": {
          "format": "double",
          "type": "number"
        },
        "未払金": {
          "format": "double",
          "type": "number"
        },
        "未払費用": {
          "format": "double",
          "type": "number"
        },
        "前受金": {
          "format": "double",
          "type": "number"
        },
        "未成工事受入金": {
          "format": "double",
          "type": "number"
        },
        "前受収益": {
          "format": "double",
          "type": "number"
        },
        "仮受金": {
          "format": "double",
          "type": "number"
        },
        "短期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "その他流動負債": {
          "format": "double",
          "type": "number"
        },
        "流動負債計": {
          "format": "double",
          "type": "number"
        },
        "退職給付引当金": {
          "format": "double",
          "type": "number"
        },
        "その他長期負債性引当金": {
          "format": "double",
          "type": "number"
        },
        "売上高": {
          "format": "double",
          "type": "number"
        },
        "売上原価": {
          "format": "double",
          "type": "number"
        },
        "販売費・一般管理費": {
          "format": "double",
          "type": "number"
        },
        "営業外収益": {
          "format": "double",
          "type": "number"
        },
        "受取利息・配当金": {
          "format": "double",
          "type": "number"
        },
        "その他営業外収益": {
          "format": "double",
          "type": "number"
        },
        "営業外費用": {
          "format": "double",
          "type": "number"
        },
        "支払利息・割引料": {
          "format": "double",
          "type": "number"
        },
        "その他営業外費用": {
          "format": "double",
          "type": "number"
        },
        "割引手形": {
          "format": "double",
          "type": "number"
        },
        "裏書譲渡手形": {
          "format": "double",
          "type": "number"
        },
        "減価償却実施額": {
          "format": "double",
          "type": "number"
        },
        "無形固定資産償却額": {
          "format": "double",
          "type": "number"
        },
        "投資その他の資産償却額": {
          "format": "double",
          "type": "number"
        },
        "繰延資産償却額": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "JsonWindowDressingOutput": {
      "type": "object",
      "properties": {
        "支店コード": {
          "type": "string"
        },
        "会社コード": {
          "type": "string"
        },
        "業種分類": {
          "type": "string"
        },
        "明細情報": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/JsonWindowDressingOutputInformation"
          }
        }
      }
    },
    "JsonWindowDressingOutputInformation": {
      "type": "object",
      "properties": {
        "基本情報": {
          "$ref": "#/definitions/JsonAnalysisOutputBasicInformation"
        },
        "分析情報": {
          "$ref": "#/definitions/JsonWindowDressingOutputValueInformation"
        }
      }
    },
    "JsonWindowDressingOutputValueInformation": {
      "type": "object",
      "properties": {
        "経常収支比率": {
          "format": "double",
          "type": "number"
        },
        "経常損益比率": {
          "format": "double",
          "type": "number"
        },
        "経常損益比率－経常収支比率": {
          "format": "double",
          "type": "number"
        },
        "粉飾チェックに対する年間評価": {
          "type": "string"
        },
        "粉飾チェックに対する評価コメント１": {
          "type": "string"
        },
        "粉飾チェックに対する評価コメント２": {
          "type": "string"
        },
        "粉飾チェックに対する評価コメント３": {
          "type": "string"
        },
        "粉飾チェックに対する評価コメント４": {
          "type": "string"
        },
        "粉飾チェックに対する評価コメント５": {
          "type": "string"
        },
        "粉飾チェックに対する評価コメント６": {
          "type": "string"
        }
      }
    }
  }
}